__pycache__/
*.py[cod]
*$py.class
outputs*/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage*
htmlcov/
.ipynb_checkpoints/
.venv/
.DS_Store
build/
dist/
*.egg-info/
turbine_blade_moo/_bem_cpp*.so
turbine_blade_moo/_bem_cpp*.pyd
